# Verified on CPython 3.11.7, macOS arm64. See docs/ocatari_pong.md.
# Darwin-only transitive dependencies are marked; other platforms are not yet validated.
ale-py==0.10.2
cloudpickle==3.1.2
contourpy==1.3.3
cycler==0.12.1
Farama-Notifications==0.0.6
fonttools==4.65.0
formulaic==1.2.2
graphviz==0.20.3
gymnasium==1.1.1
ImageIO==2.37.4
iniconfig==2.3.0
interface_meta==2.0.1
joblib==1.6.0
keyboard==0.13.5
kiwisolver==1.5.1
lazy-loader==0.5
matplotlib==3.8.4
narwhals==2.26.0
networkx==3.6.1
numpy==1.26.4
ocatari==2.2.1
opencv-python==4.10.0.84
packaging==26.3
pandas==2.2.2
pandas-flavor==0.8.1
patsy==1.0.3
pillow==10.4.0
pingouin==0.5.5
pluggy==1.6.0
pyfiglet==1.0.4
pygame==2.6.1
pyobjc==12.2.2; sys_platform == "darwin"
pyobjc-core==12.2.2; sys_platform == "darwin"
pyobjc-framework-Accessibility==12.2.2; sys_platform == "darwin"
pyobjc-framework-Accounts==12.2.2; sys_platform == "darwin"
pyobjc-framework-AddressBook==12.2.2; sys_platform == "darwin"
pyobjc-framework-AdServices==12.2.2; sys_platform == "darwin"
pyobjc-framework-AdSupport==12.2.2; sys_platform == "darwin"
pyobjc-framework-AppleScriptKit==12.2.2; sys_platform == "darwin"
pyobjc-framework-AppleScriptObjC==12.2.2; sys_platform == "darwin"
pyobjc-framework-ApplicationServices==12.2.2; sys_platform == "darwin"
pyobjc-framework-AppTrackingTransparency==12.2.2; sys_platform == "darwin"
pyobjc-framework-ARKit==12.2.2; sys_platform == "darwin"
pyobjc-framework-AudioVideoBridging==12.2.2; sys_platform == "darwin"
pyobjc-framework-AuthenticationServices==12.2.2; sys_platform == "darwin"
pyobjc-framework-AutomaticAssessmentConfiguration==12.2.2; sys_platform == "darwin"
pyobjc-framework-Automator==12.2.2; sys_platform == "darwin"
pyobjc-framework-AVFoundation==12.2.2; sys_platform == "darwin"
pyobjc-framework-AVKit==12.2.2; sys_platform == "darwin"
pyobjc-framework-AVRouting==12.2.2; sys_platform == "darwin"
pyobjc-framework-BackgroundAssets==12.2.2; sys_platform == "darwin"
pyobjc-framework-BrowserEngineKit==12.2.2; sys_platform == "darwin"
pyobjc-framework-BusinessChat==12.2.2; sys_platform == "darwin"
pyobjc-framework-CalendarStore==12.2.2; sys_platform == "darwin"
pyobjc-framework-CallKit==12.2.2; sys_platform == "darwin"
pyobjc-framework-Carbon==12.2.2; sys_platform == "darwin"
pyobjc-framework-CFNetwork==12.2.2; sys_platform == "darwin"
pyobjc-framework-Cinematic==12.2.2; sys_platform == "darwin"
pyobjc-framework-ClassKit==12.2.2; sys_platform == "darwin"
pyobjc-framework-CloudKit==12.2.2; sys_platform == "darwin"
pyobjc-framework-Cocoa==12.2.2; sys_platform == "darwin"
pyobjc-framework-Collaboration==12.2.2; sys_platform == "darwin"
pyobjc-framework-ColorSync==12.2.2; sys_platform == "darwin"
pyobjc-framework-CompositorServices==12.2.2; sys_platform == "darwin"
pyobjc-framework-Contacts==12.2.2; sys_platform == "darwin"
pyobjc-framework-ContactsUI==12.2.2; sys_platform == "darwin"
pyobjc-framework-CoreAudio==12.2.2; sys_platform == "darwin"
pyobjc-framework-CoreAudioKit==12.2.2; sys_platform == "darwin"
pyobjc-framework-CoreBluetooth==12.2.2; sys_platform == "darwin"
pyobjc-framework-CoreData==12.2.2; sys_platform == "darwin"
pyobjc-framework-CoreHaptics==12.2.2; sys_platform == "darwin"
pyobjc-framework-CoreLocation==12.2.2; sys_platform == "darwin"
pyobjc-framework-CoreMedia==12.2.2; sys_platform == "darwin"
pyobjc-framework-CoreMediaIO==12.2.2; sys_platform == "darwin"
pyobjc-framework-CoreMIDI==12.2.2; sys_platform == "darwin"
pyobjc-framework-CoreML==12.2.2; sys_platform == "darwin"
pyobjc-framework-CoreMotion==12.2.2; sys_platform == "darwin"
pyobjc-framework-CoreServices==12.2.2; sys_platform == "darwin"
pyobjc-framework-CoreSpotlight==12.2.2; sys_platform == "darwin"
pyobjc-framework-CoreText==12.2.2; sys_platform == "darwin"
pyobjc-framework-CoreWLAN==12.2.2; sys_platform == "darwin"
pyobjc-framework-CryptoTokenKit==12.2.2; sys_platform == "darwin"
pyobjc-framework-DataDetection==12.2.2; sys_platform == "darwin"
pyobjc-framework-DeviceCheck==12.2.2; sys_platform == "darwin"
pyobjc-framework-DeviceDiscoveryExtension==12.2.2; sys_platform == "darwin"
pyobjc-framework-DictionaryServices==12.2.2; sys_platform == "darwin"
pyobjc-framework-DiscRecording==12.2.2; sys_platform == "darwin"
pyobjc-framework-DiscRecordingUI==12.2.2; sys_platform == "darwin"
pyobjc-framework-DiskArbitration==12.2.2; sys_platform == "darwin"
pyobjc-framework-DVDPlayback==12.2.2; sys_platform == "darwin"
pyobjc-framework-EventKit==12.2.2; sys_platform == "darwin"
pyobjc-framework-ExceptionHandling==12.2.2; sys_platform == "darwin"
pyobjc-framework-ExecutionPolicy==12.2.2; sys_platform == "darwin"
pyobjc-framework-ExtensionKit==12.2.2; sys_platform == "darwin"
pyobjc-framework-ExternalAccessory==12.2.2; sys_platform == "darwin"
pyobjc-framework-FileProvider==12.2.2; sys_platform == "darwin"
pyobjc-framework-FileProviderUI==12.2.2; sys_platform == "darwin"
pyobjc-framework-FinderSync==12.2.2; sys_platform == "darwin"
pyobjc-framework-FSEvents==12.2.2; sys_platform == "darwin"
pyobjc-framework-FSKit==12.2.2; sys_platform == "darwin"
pyobjc-framework-GameCenter==12.2.2; sys_platform == "darwin"
pyobjc-framework-GameController==12.2.2; sys_platform == "darwin"
pyobjc-framework-GameKit==12.2.2; sys_platform == "darwin"
pyobjc-framework-GameplayKit==12.2.2; sys_platform == "darwin"
pyobjc-framework-GameSave==12.2.2; sys_platform == "darwin"
pyobjc-framework-HealthKit==12.2.2; sys_platform == "darwin"
pyobjc-framework-ImageCaptureCore==12.2.2; sys_platform == "darwin"
pyobjc-framework-InputMethodKit==12.2.2; sys_platform == "darwin"
pyobjc-framework-InstallerPlugins==12.2.2; sys_platform == "darwin"
pyobjc-framework-InstantMessage==12.2.2; sys_platform == "darwin"
pyobjc-framework-Intents==12.2.2; sys_platform == "darwin"
pyobjc-framework-IntentsUI==12.2.2; sys_platform == "darwin"
pyobjc-framework-IOBluetooth==12.2.2; sys_platform == "darwin"
pyobjc-framework-IOBluetoothUI==12.2.2; sys_platform == "darwin"
pyobjc-framework-IOSurface==12.2.2; sys_platform == "darwin"
pyobjc-framework-iTunesLibrary==12.2.2; sys_platform == "darwin"
pyobjc-framework-KernelManagement==12.2.2; sys_platform == "darwin"
pyobjc-framework-LatentSemanticMapping==12.2.2; sys_platform == "darwin"
pyobjc-framework-LaunchServices==12.2.2; sys_platform == "darwin"
pyobjc-framework-libdispatch==12.2.2; sys_platform == "darwin"
pyobjc-framework-libxpc==12.2.2; sys_platform == "darwin"
pyobjc-framework-LinkPresentation==12.2.2; sys_platform == "darwin"
pyobjc-framework-LocalAuthentication==12.2.2; sys_platform == "darwin"
pyobjc-framework-LocalAuthenticationEmbeddedUI==12.2.2; sys_platform == "darwin"
pyobjc-framework-MailKit==12.2.2; sys_platform == "darwin"
pyobjc-framework-MapKit==12.2.2; sys_platform == "darwin"
pyobjc-framework-MediaAccessibility==12.2.2; sys_platform == "darwin"
pyobjc-framework-MediaExtension==12.2.2; sys_platform == "darwin"
pyobjc-framework-MediaLibrary==12.2.2; sys_platform == "darwin"
pyobjc-framework-MediaPlayer==12.2.2; sys_platform == "darwin"
pyobjc-framework-MediaToolbox==12.2.2; sys_platform == "darwin"
pyobjc-framework-Metal==12.2.2; sys_platform == "darwin"
pyobjc-framework-MetalFX==12.2.2; sys_platform == "darwin"
pyobjc-framework-MetalKit==12.2.2; sys_platform == "darwin"
pyobjc-framework-MetalPerformanceShaders==12.2.2; sys_platform == "darwin"
pyobjc-framework-MetalPerformanceShadersGraph==12.2.2; sys_platform == "darwin"
pyobjc-framework-MetricKit==12.2.2; sys_platform == "darwin"
pyobjc-framework-MLCompute==12.2.2; sys_platform == "darwin"
pyobjc-framework-ModelIO==12.2.2; sys_platform == "darwin"
pyobjc-framework-MultipeerConnectivity==12.2.2; sys_platform == "darwin"
pyobjc-framework-NaturalLanguage==12.2.2; sys_platform == "darwin"
pyobjc-framework-NetFS==12.2.2; sys_platform == "darwin"
pyobjc-framework-Network==12.2.2; sys_platform == "darwin"
pyobjc-framework-NetworkExtension==12.2.2; sys_platform == "darwin"
pyobjc-framework-NotificationCenter==12.2.2; sys_platform == "darwin"
pyobjc-framework-OpenDirectory==12.2.2; sys_platform == "darwin"
pyobjc-framework-OSAKit==12.2.2; sys_platform == "darwin"
pyobjc-framework-OSLog==12.2.2; sys_platform == "darwin"
pyobjc-framework-PassKit==12.2.2; sys_platform == "darwin"
pyobjc-framework-PencilKit==12.2.2; sys_platform == "darwin"
pyobjc-framework-PHASE==12.2.2; sys_platform == "darwin"
pyobjc-framework-Photos==12.2.2; sys_platform == "darwin"
pyobjc-framework-PhotosUI==12.2.2; sys_platform == "darwin"
pyobjc-framework-PreferencePanes==12.2.2; sys_platform == "darwin"
pyobjc-framework-PushKit==12.2.2; sys_platform == "darwin"
pyobjc-framework-Quartz==12.2.2; sys_platform == "darwin"
pyobjc-framework-QuickLookThumbnailing==12.2.2; sys_platform == "darwin"
pyobjc-framework-ReplayKit==12.2.2; sys_platform == "darwin"
pyobjc-framework-SafariServices==12.2.2; sys_platform == "darwin"
pyobjc-framework-SafetyKit==12.2.2; sys_platform == "darwin"
pyobjc-framework-SceneKit==12.2.2; sys_platform == "darwin"
pyobjc-framework-ScreenCaptureKit==12.2.2; sys_platform == "darwin"
pyobjc-framework-ScreenSaver==12.2.2; sys_platform == "darwin"
pyobjc-framework-ScreenTime==12.2.2; sys_platform == "darwin"
pyobjc-framework-ScriptingBridge==12.2.2; sys_platform == "darwin"
pyobjc-framework-SearchKit==12.2.2; sys_platform == "darwin"
pyobjc-framework-Security==12.2.2; sys_platform == "darwin"
pyobjc-framework-SecurityFoundation==12.2.2; sys_platform == "darwin"
pyobjc-framework-SecurityInterface==12.2.2; sys_platform == "darwin"
pyobjc-framework-SecurityUI==12.2.2; sys_platform == "darwin"
pyobjc-framework-SensitiveContentAnalysis==12.2.2; sys_platform == "darwin"
pyobjc-framework-ServiceManagement==12.2.2; sys_platform == "darwin"
pyobjc-framework-SharedWithYou==12.2.2; sys_platform == "darwin"
pyobjc-framework-SharedWithYouCore==12.2.2; sys_platform == "darwin"
pyobjc-framework-ShazamKit==12.2.2; sys_platform == "darwin"
pyobjc-framework-Social==12.2.2; sys_platform == "darwin"
pyobjc-framework-SoundAnalysis==12.2.2; sys_platform == "darwin"
pyobjc-framework-Speech==12.2.2; sys_platform == "darwin"
pyobjc-framework-SpriteKit==12.2.2; sys_platform == "darwin"
pyobjc-framework-StoreKit==12.2.2; sys_platform == "darwin"
pyobjc-framework-Symbols==12.2.2; sys_platform == "darwin"
pyobjc-framework-SyncServices==12.2.2; sys_platform == "darwin"
pyobjc-framework-SystemConfiguration==12.2.2; sys_platform == "darwin"
pyobjc-framework-SystemExtensions==12.2.2; sys_platform == "darwin"
pyobjc-framework-ThreadNetwork==12.2.2; sys_platform == "darwin"
pyobjc-framework-UniformTypeIdentifiers==12.2.2; sys_platform == "darwin"
pyobjc-framework-UserNotifications==12.2.2; sys_platform == "darwin"
pyobjc-framework-UserNotificationsUI==12.2.2; sys_platform == "darwin"
pyobjc-framework-VideoSubscriberAccount==12.2.2; sys_platform == "darwin"
pyobjc-framework-VideoToolbox==12.2.2; sys_platform == "darwin"
pyobjc-framework-Virtualization==12.2.2; sys_platform == "darwin"
pyobjc-framework-Vision==12.2.2; sys_platform == "darwin"
pyobjc-framework-WebKit==12.2.2; sys_platform == "darwin"
pyparsing==3.3.2
pytest==8.3.5
python-dateutil==2.9.0.post0
pytz==2026.3.post1
scikit-image==0.26.0
scikit-learn==1.9.1
scipy==1.12.0
seaborn==0.13.2
six==1.17.0
statsmodels==0.15.0
tabulate==0.10.0
termcolor==3.3.0
threadpoolctl==3.7.0
tifffile==2026.3.3
tqdm==4.70.1
typing_extensions==4.16.0
tzdata==2026.4
wrapt==2.4.1
xarray==2026.7.0
